.LoginContainer h3{
  margin-top: -27px;
}
.LoginContainer  .btn{
  width: 70% !important;
  border-radius: 30px;
  margin-left: 3.5rem
}
.LoginContainer p{
  font-size: 14px;
}
.LoginContainer{
  margin-top: 7rem;
}
body{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: opacity(0.90);
}
@media (max-width: 500px){
  .LoginContainer{
    margin-top: 8rem;
  }
  .LoginContainer h3{
    margin-top: -37px;
  }
  body{
    background-position: top;
    background-size:800px;
    background-repeat: no-repeat;
    backdrop-filter: opacity(0.90);
    font-size: 12px;
  }
  img{
    width: 30%;
  }
  .control-label{
    margin-top: 1rem;
}
form{
  margin-top: -20px;
}
.text-center{
  margin-top: 9rem;
}
}